@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@400;500;600;700&display=swap');

// COLORS //

$color-primary: #5AB9EA;
$color-primary-dark: #5680E9;

$color-secondary: #C1C8E4;
$color-secondary-dark: #84CEEB;

$color-tertiary: #8860D0;


///////////////////////////



html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    & > * {
        box-sizing: inherit;
    }

    font-family: "Lato", sans-serif;
}