
.heading-1 {
    font-family: "Oswald", sans-serif;
}

.heading-2 {
    font-family: "Oswald", sans-serif;
}

.heading-3 {
    font-family: "Oswald", sans-serif;
}


.heading-4 {
    font-family: "Oswald", sans-serif;
}