@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@400;500;600;700&display=swap");
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }
  body * {
    box-sizing: inherit; }

::-webkit-scrollbar {
  width: 1.5rem; }

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #84CEEB;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.4), 0 -2rem 2rem rgba(0, 0, 0, 0.4), 0 2rem 2rem rgba(0, 0, 0, 0.4); }

::-webkit-scrollbar-track {
  background-color: #8860D0; }

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.header {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
  padding: 1rem 4rem;
  background-color: #5AB9EA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20; }
  .header__logo {
    width: 4rem;
    height: 4rem;
    z-index: 2;
    transform: translateY(0);
    transition: all .4s; }
    .header__logo-text {
      color: #fff;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      transform: translateX(-5rem);
      letter-spacing: -0.5rem;
      opacity: 0;
      transition: all .4s; }
  .header__logo-box {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .header__logo-box:hover .header__logo-text {
    transform: translateX(0);
    letter-spacing: 0.2rem;
    opacity: 1; }
  .header__logo-box:hover .header__logo {
    transform: translateY(-0.5rem) scale(1.05); }
  .header__links {
    list-style: none;
    display: flex;
    gap: 4rem; }
    .header__links a.active {
      border-bottom: 3px solid #ECECEC;
      color: #ECECEC; }
      .header__links a.active svg {
        fill: #ECECEC; }
  .header__link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 0.2rem;
    transition: all .2s, border-bottom 0s;
    display: flex;
    align-items: center;
    gap: 1rem; }
    .header__link:hover {
      color: #eee;
      transform: scale(1.2) translateY(-0.4rem) rotate(2deg); }
    .header__link svg {
      fill: #fff;
      width: 2rem;
      height: 2rem; }

.footer {
  box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.25);
  background-color: #5680E9;
  margin-top: auto;
  z-index: 20;
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #5AB9EA;
  gap: 3rem; }
  .footer svg {
    width: 3rem;
    height: 3rem;
    fill: #5AB9EA;
    transition: all .4s; }
    .footer svg:hover {
      fill: #fff;
      transform: scale(1.1) translateY(-0.5rem); }
  .footer__socials {
    display: flex;
    justify-content: space-between;
    width: 50%; }
  .footer__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footer__author {
    color: #fff;
    letter-spacing: 2px; }
  .footer__copyright {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: -0.4rem; }
  .footer__copyright-desc {
    font-size: 1.2rem;
    font-weight: 700; }

.heading-1 {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 1px; }
  .heading-1--white {
    color: #fff; }
  .heading-1--blue {
    color: #C1C8E4; }
  .heading-1--blue-dark {
    color: #84CEEB; }
  .heading-1--black {
    color: #000; }

.heading-2 {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0; }
  .heading-2--white {
    color: #fff; }
  .heading-2--blue {
    color: #C1C8E4; }
  .heading-2--black {
    color: #000; }

.heading-3 {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0; }
  .heading-3--white {
    color: #fff; }
  .heading-3--blue {
    color: #C1C8E4; }
  .heading-3--black {
    color: #000; }

.heading-4 {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0; }
  .heading-4--white {
    color: #fff; }
  .heading-4--blue {
    color: #C1C8E4; }
  .heading-4--black {
    color: #000; }

.home {
  border-top: 5px solid #C1C8E4;
  border-bottom: 5px solid #C1C8E4;
  margin: 0;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(136, 96, 208, 0.4), rgba(63, 111, 230, 0.4)), url(../img/meetthepillager.jpg);
  background-size: cover;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: inset 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  .home .btn {
    width: 15rem; }
  .home__paragraph {
    color: #e6e6e6;
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: 1px; }
  .home__circle {
    background-color: rgba(90, 185, 234, 0.95);
    width: 120rem;
    height: 40rem;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    left: -40rem;
    transition: all 1s;
    display: none; }

.notFound {
  display: flex;
  width: 100%;
  height: 70vh;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .notFound__error {
    font-size: 3rem;
    text-transform: uppercase; }
  .notFound__number {
    text-decoration: none;
    font-size: 5rem;
    transition: all .4s;
    cursor: pointer; }
    .notFound__number:hover {
      transform: scale(1.1) translateY(-1rem); }

.btn {
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  border-radius: 100px;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .4s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .btn--purple {
    background-color: #8860D0; }
    .btn--purple:hover {
      background-color: #5680E9; }
  .btn--blue {
    background-color: #5AB9EA; }
    .btn--blue:hover {
      background-color: #5680E9; }
  .btn--blue-dark {
    background-color: #5680E9; }
    .btn--blue-dark:hover {
      background-color: #5AB9EA; }
  .btn--white {
    background-color: #fff; }
    .btn--white:hover {
      background-color: #f2f2f2; }
  .btn:hover {
    transform: translateY(-0.5rem) scale(1.05);
    box-shadow: 0 1.3rem 4rem rgba(0, 0, 0, 0.4); }
  .btn:focus {
    transform: translateY(0.2rem); }
